.star.L {
    width: 50px;
}

.star.S {
    width: 35px;
}

.star:not(.disabled) {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.star:not(.disabled):hover {
  transform: scale(1.15);
}

.star:not(.disabled) svg {
  display: block;
}