.starItem {
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease-in-out;
}

.starItem:hover {
    transform: scale(1.15);
}

.starRating {
    display: flex;
    gap: 5px;
    padding: 10px 0px;
}