.homeTitle {
    display: flex;
    justify-content: center;
    color: #9D8BFB;
    font-size: 50px;
    font-weight: bold;
    text-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px 0 15px 0 ;
    margin: 0px;
}