.greetingContainer h2 {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.greetingContainer {
    display: flex;
}

.greeting {
    color: white;
    padding: 20px 10px 20px 30px;
}

.name {
    color: #FFA546;
    padding: 20px 0;
}

.watchCountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watchText {
    color: #9D8BFB;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.watchCount {
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.movieCatalogContainer {
    padding: 20px 10px 0 10px;
}