.loading {
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    opacity: 0.5;
    transition: opacity 0.5s ease-out;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #6320EE;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 40%;
    left: 48%;
}

h2 {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    text-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 50px 0 20px 0 ;
}

.poster {
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
