.errorMessage {
    position: relative;
    margin: 0;
    padding: 10px 20px;
    border-radius: 6px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fee4e2;
    border: 1px solid #fecaca;
    color: #991b1b;
    font-weight: 500;

    min-height: 30px;
    max-width: 400px;
}

.top-right {
    position: fixed;
    right: 10px;
    top: 60px;
}

.closeBtn {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
}