.inputBox {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    width: 550px;
    height: 300px;
    font-size: 18px;
    color-scheme: dark;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    resize: none;
}

.inputBox:focus {
    outline: none;
}

.reviewInputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #6320EE;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease;
}

button:active {
    transform: scale(0.95);
}