.header {
    padding-left: 0;
}

.movieTitle {
    padding: 0 0 0 0;
}

.movieYear {
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}

.subtitle {
    font-size: 45px;
    margin: 0;
    color: #CAFFD0;
}

.movieDetail {
    padding: 20px;
    display: flex;
}

.moviePosterContainer {
    width: 450px;
}

.moviePoster {
    width: 100%;
    height: auto;
    display: block;
}

.movieInfo {
    width: 60%;
    padding-left: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

button:not(.disabled) {
    background-color: #6320EE;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.inputBox {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    width: 550px;
    height: 300px;
    font-size: 18px;
    color-scheme: dark;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    resize: none;
}

.inputBox.disabled::placeholder {
    color: lightgray;
    opacity: 0.1;
}

button:active:not(.disabled) {
    transform: scale(0.95);
}

.saveReviewButton {
    width: 150px;
    font-size: 17px;
}

.hiddenLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}