.header {
    padding-left: 0;
    margin: 0;
}

.movieTitle {
    font-size: 45px;
    margin: 0;
}

.movieYear {
    font-size: 30px;
    font-weight: normal;
}

.subtitle {
    font-size: 45px;
    margin: 0;
    color: #CAFFD0;
}

.movieDetail {
    padding: 20px;
    display: flex;
}

.moviePosterContainer {
    width: 450px;
}

.moviePoster {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movieInfo {
    width: 60%;
    padding-left: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 10px;
}
