/* .reviewContainer {
    display: flex;
    padding: 20px;
    max-width: 100%;
    max-height: 400px;
}

.reviewContent {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    gap: 10px;
}

.reviewPoster {
    max-width: 180px;
}

.reviewTitle {
    margin: 0;
    color: white;
}

.reviewText {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
} */

.reviewContainer {
    display: flex;
    padding: 15px;
}

.reviewTitle {
    margin: 0;
    color: white;
}

.reviewPoster {
    max-width: 180px;
    min-width: 100px;
}

.reviewText {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    
}

.reviewContent {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    gap: 10px;
}