.icon {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

.iconContainer:hover .icon {
    transform: scale(1.15);
}

.iconContainer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    padding-left: 10px;
}

.questionContainer {
    display:flex;
    align-items: center;
}

.questionText {
    font-size: 20px;
}