.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.searchContainer h2 {
    font-size: 50px;
    color: #9D8BFB;
    padding: 50px 0 20px 0 ;
}

.searchContainer input {
    width: 450px;
    outline: none;
}