fieldset {
    border: none;
    width: 400px;
}

legend {
    display: none;
}

.loginForm {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2C2C2C;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 220px);
}

.loginTitle {
    color: #9D8BFB;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 10px;
}

.inputContainer label {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    color-scheme: dark;
}

.signupLink {
    color: #fb76bf;;
}

.signupOpt {
    color: white;
    font-size: 15px;
}

.signupButton {
    margin-top: 20px;
    font-size: 15px;
}

.loginButton {
    margin-top: 15px;
}

.errorMessage {
  margin: 0;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  width: 300px;

  color: #991b1b;
  background-color: #fee4e2;
  border: 1px solid #fecaca;

  font-size: 0.95rem;
  font-weight: 500;
}